{% extends 'sports/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "contentsection">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class ="border-bottom mb-4">Add Slot</legend>
                {{ form|crispy }}

            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Add</button>
            </div>
        </form>
    </div>
{% endblock %}