{% extends 'sports/base.html' %}
{% load auth_extras %}
{% block style %}
<style>
    h1 {text-align: center;}
</style>
{% endblock style %}


{% block content %}
<div class="container">
    <h1 class="center"><b>{{ sport.name }}</b></h1>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="card-header">
                <ul>
                    {% if request.user|has_attr:"member" %}
                    <li><p>Want to Book a Slot to Play in our Sports Complex!</p></li>
                    {% elif request.user|has_attr:"staff" %} 
                    <a href="/sport_bookings/{{ sport.name }}" class="btn btn-primary">Bookings </a>
                    {% endif %}
                </ul>
            </div>
            <div class="card-header">
                <h2> Total Courts : {{ sport.court_set.count }}</h2>
                <div class="table-responsive">
                    <table class = "table">
                        <thead class="thead-light">
                        <tr>
                            <th>Sr. No.</th>
                            <th>Court</th>
                            <th>Available</th>
                        </tr>
                        </thead>
                        {% for court in courts %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ court.name }}</td>
                            <td>
                                <a href="/available_slot/{{ court.name }}" class="btn btn-primary">Available Slots </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
            <div class="card-header">
                <h2>Inventory</h2>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class = "table">
                            <thead class="thead-light">
                            <tr>
                                <th>Sr. No.</th>
                                <th>Equipment</th>
                                <th>Available</th>
                            </tr>
                            </thead>
                            {% for equipment in equipments %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ equipment.name }}</td>
                                <td>{{ equipment.quantity }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}